<template>
    <div class="fill-height">
        <v-navigation-drawer
                v-model="drawer"
                clipped
                fixed
                app
        >
            <v-list dense>
                <v-list-tile to="/">
                    <v-list-tile-action>
                        <v-icon>dashboard</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Home</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile to="/games-not-finished">
                    <v-list-tile-action>
                        <v-icon>videogame_asset</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Games Not Finished</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile to="/art">
                    <v-list-tile-action>
                        <v-icon>portrait</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Artwork</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile href="https://twitch.tv/thefactions">
                    <v-list-tile-action>
                        <v-icon>videocam</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Twitch</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app fixed clipped-left dark>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>TheFactions</v-toolbar-title>
            <v-toolbar-items>
                <v-btn to="/" flat>Home</v-btn>
                <v-btn to="/games-not-finished" flat>Games Not Finished</v-btn>
                <v-btn to="/art" flat>Artwork</v-btn>
                <v-btn href="https://twitch.tv/thefactions" flat>Twitch</v-btn>
            </v-toolbar-items>
            <v-spacer></v-spacer>
            <v-toolbar-items>
            </v-toolbar-items>
        </v-toolbar>
        <v-content class="fill-height">
            <slot/>
        </v-content>
        <v-footer app fixed>
        </v-footer>
    </div>
</template>

<script>
	export default {
		name: "MainLayout",
		data: () => ({
            drawer: false,
        })
	}
</script>

<style scoped>

</style>
