<template>
    <MainLayout>
        <v-container grid-list-lg fluid>
            <v-layout row wrap>
                <v-flex v-for="(image, index) in artwork" :key="index" xs12 md6 lg4 text-xs-center>
                    <v-img :src="image" contain height="400px" @click="loadImage(image)"></v-img>
                </v-flex>
            </v-layout>
        </v-container>
        <v-dialog v-model="expandImage" fullscreen hide-overlay>
            <v-card dark>
                <v-btn dark icon @click="expandImage = false">
                    <v-icon large>close</v-icon>
                </v-btn>
                <a :href="expandImageSource">
                    <v-btn dark icon>
                        <v-icon large>cloud_download</v-icon>
                    </v-btn>
                </a>
                <v-img :src="expandImageSource" contain @click="expandImage = !expandImage" height="95vh"></v-img>
            </v-card>
        </v-dialog>
    </MainLayout>
</template>

<script>
	import MainLayout from '../components/layouts/MainLayout'

	export default {
		components: {MainLayout},
		name: "Artwork",
		data: () => ({
			artwork: [require('@/assets/img/pepedumbo.png'), require('@/assets/img/JPEG_20180311_211338.jpg'), require('@/assets/img/JPEG_20180318_190606.jpg'), require('@/assets/img/JPEG_20180318_201531.jpg')],
			expandImage: false,
			expandImageSource: '',
		}),
		methods: {
			loadImage(source) {
				this.expandImageSource = source;
				this.expandImage = true
			}
		}
	}
</script>

<style scoped>
</style>
