<template>
    <MainLayout>
        <v-container>
            <v-layout row wrap align-center justify-center>
                <v-flex xs12 text-xs-center>
                    <div id="board">
                        <div id="content" class="text-xs-center">
                            <p id="title">GAMES NOT FINISHED</p>
                            <br>
                            <p>A Hat in Time</p>
                            <p>Breach</p>
                            <p>Subnautica</p>
                            <p>7 Days to Die</p>
                            <p>Sea of Thieves</p>
                            <p>Nioh</p>
                            <p>Path of Exile 24 Hour Stream</p>
                            <p>Minecraft On Easy Mode.... Again</p>
                            <p>Terraria</p>
                            <p>Cuphead</p>
                            <p>Witcher 3</p>
                            <p>Player Unknown's Battlegrounds</p>
                            <p>Dota 2</p>
                            <p>Starcraft 2</p>
                            <p>ToonTown</p>
                            <p>RuneScape</p>
                            <p>Minecraft</p>
                            <p>Final Fantasy VII</p>
                            <p>Final Fantasy XIII</p>
                            <p>Bioshock</p>
                            <p>Skyrim</p>
                            <p>Stardew Valley</p>
                            <p>DOOM</p>
                            <p>Sonic Adventure 2</p>
                            <p>Fallout 3</p>
                            <p>Fallout 4</p>
                            <p>Metal Gear Solid: V</p>
                            <p>Tomb Raider</p>
                            <p>Hitman</p>
                            <p>Resident Evil 4</p>
                            <p>Resident Evil 5</p>
                            <p>Chess</p>
                            <p>Warcraft 3</p>
                            <p>Cooking Streams</p>
                            <p>Dancing Streams</p>
                        </div>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </MainLayout>
</template>

<script>
	import MainLayout from '../components/layouts/MainLayout'

	export default {
		components: {MainLayout},
		name: "GamesNotFinished"
	}
</script>

<style scoped>
    p {
        color: #ffee00;
    }

    /* Set the font, lean the board, position it */
    #board {
        font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
        transform: perspective(350px) rotateX(15deg);
        transform-origin: 50% 100%;
        text-align: justify;
        position: absolute;
        margin-left: -9em;
        font-weight: bold;
        overflow: hidden;
        font-size: 350%;
        height: 50em;
        width: 18em;
        bottom: 0;
        left: 50%;
    }

    #board:after {
        position: absolute;
        content: ' ';
        bottom: 15%;
        left: 0;
        right: 0;
        top: 0;
    }

    /* Set the scrolling animation and position it */
    #content {
        animation: scroll 70s linear 5s infinite running;
        animation-delay: 0s;
        position: absolute;
        top: 100%;
    }

    #title, #subtitle {
        text-align: center;
    }

    @keyframes scroll {
        0% {
            top: 100%;
        }
        100% {
            top: -100%;
        }
    }
</style>
