<template>
    <MainLayout>
        <v-container fill-height>
            <v-layout row wrap align-center justify-center fill-height>
                <v-flex xs12 text-xs-center>
                    <a style="text-decoration: none" href="https://twitch.tv/thefactions"><h2 class="title">Check out the worst streamer on Twitch!</h2></a>
                </v-flex>
                <v-flex xs12 md6 lg4 text-xs-center>
                    <a style="text-decoration: none" href="https://twitch.tv/thefactions">
                        <div class="image-container">
                            <v-img :src="mainImage" max-height="400px" contain></v-img>
                        </div>
                    </a>
                </v-flex>
            </v-layout>
        </v-container>
    </MainLayout>
</template>

<script>
	import MainLayout from '../components/layouts/MainLayout'

	export default {
		components: {MainLayout},
		data: () => ({
			mainImage: require('@/assets/img/scamman.png')
		}),
	}
</script>
<style scoped>
    .image-container {
        background-color: white;
        border-radius: 100%;
        padding: 20%;
    }
</style>
